@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>We are David & Tran. We make cakes, because it's somebody's birthday somewhere. We were imagined (not established) in 2018. I don't know about Tran, but the last time I baked something it could not have been sold in a legal fashion.</p>
