@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>D&T Bakery</h1>
</div>



<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In gravida euismod ante, eu imperdiet magna. Vivamus dictum finibus vehicula.
    Ut pulvinar malesuada nisl a vestibulum. Maecenas semper lacus massa, placerat interdum est vehicula vitae. Sed in scelerisque neque.
    Maecenas aliquet feugiat purus, eget laoreet arcu molestie quis. Ut sed sagittis dui, et rutrum arcu. Vivamus vel est aliquet lectus volutpat volutpat.
    Etiam commodo orci vitae metus aliquet, sed pellentesque est tristique. Etiam euismod rhoncus nisi ut cursus.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In gravida euismod ante, eu imperdiet magna. Vivamus dictum finibus vehicula.
    Ut pulvinar malesuada nisl a vestibulum. Maecenas semper lacus massa, placerat interdum est vehicula vitae. Sed in scelerisque neque.
    Maecenas aliquet feugiat purus, eget laoreet arcu molestie quis. Ut sed sagittis dui, et rutrum arcu. Vivamus vel est aliquet lectus volutpat volutpat.
    Etiam commodo orci vitae metus aliquet, sed pellentesque est tristique. Etiam euismod rhoncus nisi ut cursus.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In gravida euismod ante, eu imperdiet magna. Vivamus dictum finibus vehicula.
    Ut pulvinar malesuada nisl a vestibulum. Maecenas semper lacus massa, placerat interdum est vehicula vitae. Sed in scelerisque neque.
    Maecenas aliquet feugiat purus, eget laoreet arcu molestie quis. Ut sed sagittis dui, et rutrum arcu. Vivamus vel est aliquet lectus volutpat volutpat.
    Etiam commodo orci vitae metus aliquet, sed pellentesque est tristique. Etiam euismod rhoncus nisi ut cursus.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In gravida euismod ante, eu imperdiet magna. Vivamus dictum finibus vehicula.
    Ut pulvinar malesuada nisl a vestibulum. Maecenas semper lacus massa, placerat interdum est vehicula vitae. Sed in scelerisque neque.
    Maecenas aliquet feugiat purus, eget laoreet arcu molestie quis. Ut sed sagittis dui, et rutrum arcu. Vivamus vel est aliquet lectus volutpat volutpat.
    Etiam commodo orci vitae metus aliquet, sed pellentesque est tristique. Etiam euismod rhoncus nisi ut cursus.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In gravida euismod ante, eu imperdiet magna. Vivamus dictum finibus vehicula.
    Ut pulvinar malesuada nisl a vestibulum. Maecenas semper lacus massa, placerat interdum est vehicula vitae. Sed in scelerisque neque.
    Maecenas aliquet feugiat purus, eget laoreet arcu molestie quis. Ut sed sagittis dui, et rutrum arcu. Vivamus vel est aliquet lectus volutpat volutpat.
    Etiam commodo orci vitae metus aliquet, sed pellentesque est tristique. Etiam euismod rhoncus nisi ut cursus.
</p>


